{% extends 'main/base.html' %}
{% load static %}
{% load poll_extras %}
{% block main_head %}
{% endblock main_head %}
    <!--===============================================
                        header
        ==============================================-->

    <!-- Nav Bar -->
      

    <!--===============================================
                        main
        ==============================================-->
        
{% block main_body %}
    <main>
       <div class="abc"></div>
       <div class="abc"></div>
       <div class="abc"></div>
       <div class="abc"></div>
       <div class="abc"></div>
       <div class="abc"></div>
       <div class="abc"></div>
    </main>
    <!--===============================================
                        javascript
 ===============================================-->
    <script src="basejs.js"></script>
  <!--===============================================
                       footer
 ===============================================-->
 <!DOCTYPE html>
 <html lang="en" dir="ltr">
   <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css">
     <!-- Fontawesome CDN Link -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
 <body>
    <section id="contact" style="margin-left:0px;">  <!--Footer section-->
     <div class="content">
       <div class="top">
         <div class="media-icons">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
           <a href="#"><i class="fab fa-youtube"></i></a>
         </div>
       </div>
       <div class="link-boxes" id="foot_links">
         <div class="aboutfoot">
           <h3>About Us</h3>
           <p class="about">
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis aliquam, 
             velit modi dolorum rerum quaerat saepe. Accusantium accusamus et in consequatur,
              ea saepe eaque repudiandae odio optio. Eius, neque. Impedit quos accusantium eos alias.
               Doloribus, quo. Neque dignissimos similique necessitatibus!
           </p>
          </div>
         <ul class="box">
           <li class="link_name">Services</li>
           <li><a href="#">App design</a></li>
           <li><a href="#">Web design</a></li>
           <li><a href="#">Logo design</a></li>
           <li><a href="#">Banner design</a></li>
         </ul>
         <ul class="box">
           <li class="link_name">Account</li>
           <li><a href="#">Profile</a></li>
           <li><a href="#">My account</a></li>
           <li><a href="#">Prefrences</a></li>
           <li><a href="#">Purchase</a></li>
         </ul>
       </div>
     </div>
     <div class="bottom-details">
       <div class="bottom_text">
         <span class="copyright_text">Copyright © 2021 <a href="#">Team<strong>CHAOS</strong>.</a>All rights reserved</span>
         <span class="policy_terms">
           <a href="#">Privacy policy</a>
           <a href="#">Terms & condition</a>
         </span>
       </div>
     </div>
   </section>
   {% endblock main_body %}

 
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>  

